@media (min-width:350px) and (max-width:600px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    ul{
        list-style: none;
    }
 
    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }
    
    ul#menu2 li a{
        text-decoration:none;
        color: white;
    }
    
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    img#xone2{
        width: 50px;
        height: 50px;
        margin-bottom: 9px;
        margin-left: 17px;
    }

    img#incur{
        margin-left: 23%;
        
        width: 80px;
        height: 70px;
    }

    img#dicon{
        width:60px;
        height: 55px;
        margin-bottom: 9px;
        margin-left: 5px;
    }

    img#xone{
        display: none;
    }


    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
        cursor: pointer;
    }

    
    footer{
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.8em;
        text-align: center;
        color:white;
    }

    div.admin{
        width: 80%;
        margin:auto;
        color: white;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    div.adminame{
        background-color: rgba(226, 212, 212, 0.253);
        height: 70px;
        border-radius: 5px;
        cursor: pointer;
        
    }

    div.adminame img{
        width:70px;
        height: 70px;
        border-radius: 40px;
    }

    div.imagem{
        width: 260px;
        height: 70px;
        margin: auto;
    }
    
    div.imagem h3{
        float: right;
        margin-right: 50px;
        margin-top: 10px;
    }

    div.imagem small{
        float: right;
        margin-right: 100px;
        margin-top: -30px;
    }

    div.admininfo{
        display: none;
        background-color: rgba(255, 255, 255, 0.219);
        border-radius: 5px;
        margin-top: 1px;
        margin-bottom: 50px;
        text-align: center;
        padding-bottom: 10px;
    }

    div.admininfo h5{
        margin-bottom: 10px;
        margin-top: 0px;
    }

    div.admininfo a{
        text-decoration: none;
        color: white;
        background-color: rgb(204, 70, 70);
        padding: 5px 10px;
        border-radius: 5px;
    }
}


@media (min-width:601px) and (max-width:990px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    ul{
        list-style: none;
    }
 
    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        height: 1100px;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }
    
    ul#menu2 li a{
        text-decoration:none;
        color: white;
    }
    
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    img#xone2{
        display: none;
        width: 50px;
        height: 50px;
        margin-bottom: 9px;
        margin-left: 17px;
    }

    img#incur{
        margin-left: 23%;
        
        width: 80px;
        height: 70px;
    }

    img#dicon{
        width:60px;
        height: 55px;
        margin-bottom: 9px;
        margin-left: 5px;
    }

    img#xone{
        width: 200px;
        height: 50px;
        margin-left: 15px;
        margin-bottom: 10px;
    }


    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
        cursor: pointer;
    }


    footer{
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.8em;
        text-align: center;
        color:white;
    }
}