@media (min-width:319px) and (max-width:600px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 1px black;
    }

    ul{
        list-style: none;
    }

    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        height: 900px;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    div#centerheader{
        width: 230px;
        margin: auto;
    }

    div#centerheader h2{
        float:right;
        font-size: 18px;
        margin-top: 25px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }
    
    ul#menu2 li a{
        text-decoration:none;
        color: white;
    }
    
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    

    img#incur{    
        width: 80px;
        height: 70px;
    }

    
    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
    }

    aside{
        width: 90%;
        height: 250px;
        margin:30px auto 10px auto;
    }

     h2{
        margin-bottom: 5px;
        font-size: 0.7em;
        margin-top: 0px;
        color: white;
        text-align: center;
    }

    aside img#recom{
        width:90%;
        height: 90%;
        margin-left: 5%;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(172, 153, 153, 0.267);
        
    }

    div#atividade{
        width: 90%;
        height: 250px;
        margin: 30px auto 10px auto;
        
    }

    div#atividade img.slide{
        width: 80%;
        height: 35%;
        position: absolute;
        margin-left: 3%;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(150, 127, 127, 0.267);
    }

    div#news{
        width: 90%;
        height: 250px;
        margin: 30px auto 10px auto;
        
    }

    footer{
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.8em;
        text-align: center;
        color:white;
    } 

    div#flogos{
        width: 150px;
        margin: auto;
    }

    img.logos{
        width: 15px;
        height: 15px;
        margin-left: 15px;
    }

    img#facebook{
        width: 20px;
    }
}

@media (min-width:601px) and (max-width:990px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 1px black;
    }

    ul{
        list-style: none;
    }
 

    div#page{
        width: 96%;
        
        margin: 0px auto;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    div#centerheader{
        width: 305px;
        height: 70px;
        margin: 0px auto 0px auto;
    }

   

    div#centerheader h2{
        float:right;
        font-size: 26px;
        margin-top: 25px;
    }


     
       img#incur{
        width: 80px;
        height: 70px;
    }



    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -12px;
        position: absolute;
        margin-left: -23px;
    }

    nav{
        position: absolute;
        width: 90px;
        height: 70px;
        margin-top: -70px;
        margin-right: auto;
    }

    ul#menu1{
        width: 100%;
        height: 60px;
        cursor: pointer;

    }

    ul#menu1 li{
        padding: 5px 0px 5px  0px;
        color: white;
        width: 100%;
        margin-left: -40px;
        text-align: center;
        height: 20px;
    }

    ul li#imagem{
        width: 30px;
        margin-left: 1px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 120px;
        height: 165px;
        margin-top: 24px;
        margin-left: -40px;
        text-align: center;
        background-color: rgb(99, 92, 89);
        border-radius: 5px;
        padding-top: 1.5px;
        transition: all .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        background-color: rgb(99, 92, 89);
        
    }
    
    ul#menu2 li a{
        text-decoration:none;
        color: white;
    }
    
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }



    aside{
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
        margin-top: 50px;

    }

    h2{
        font-size: 0.8em;
        color: white;
        text-align: center;
        margin-bottom: 5px;
    }

    aside img#recom{
        width: 80%;
        height: 90%;
        margin-left: 10%;
        border-radius: 5px;
    }

    div#atividade{
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    div#atividade img.slide{
        width: 80%;
        height: 85%;
        margin-left: 10%;
        border-radius: 5px;
    }

    div#news{
        width: 100%;
        height: 350px;
        margin-bottom: 5px;
        margin-top: 50px;
        
    }

    footer{
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.9em;
        text-align: center;
        color:white;
    }

    div#flogos{
        width: 180px;
        margin: auto;
    }

    img.logos{
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }

    img#facebook{
        width: 30px;
    }
}

