@media (min-width:350px) and (max-width:600px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    ul{
        list-style: none;
    }

    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        height: 900px;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }

    ul#menu2 li a {
        text-decoration: none;
        color: white;
    }
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    img#xone2{
        width: 50px;
        height: 50px;
        margin-bottom: 9px;
        margin-left: 17px;
    }

    img#incur{
        margin-left: 23%;
        
        width: 80px;
        height: 70px;
    }

    img#dicon{
        width:60px;
        height: 55px;
        margin-bottom: 9px;
        margin-left: 5px;
    }

    img#xone{
        display: none;
    }


    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
        cursor: pointer;
    }

    div#bot{
        width: 100%;
        height: 200px;
        color: white;
    }

    div#bot img{
        width: 200px;
        height: 180px;
    }

    div#bot h3, span{
        float:right;
    }

    div#bot h3{
        margin-right: 70px;
        font-size: 22px;
        margin-top: 65px;
                
    }

    div#bot span{
        margin-right: 54px;
        margin-top: -90px;
    }

    div#oq, div#comandos{
        width: 100%;
        height: 340px;
    }

    div#oq h3 , div#comandos h3{
        text-align: center;
    }

    div#oq p , div#comandos p{
        
        margin: 5px auto;
        width: 90%;
        text-align: justify;
        text-indent: 10px;
    }

    footer{
        margin-top: 20px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.8em;
        text-align: center;
        color:white;
    }
}

@media (min-width:601px) and (max-width:990px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    ul{
        list-style: none;
    }

    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        height: 900px;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }

    ul#menu2 li a {
        text-decoration: none;
        color: white;
    }
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    img#xone2{
        display: none;
        width: 50px;
        height: 50px;
        margin-bottom: 9px;
        margin-left: 17px;
    }

    img#incur{
        margin-left: 23%;
        
        width: 80px;
        height: 70px;
    }

    img#dicon{
        width:60px;
        height: 55px;
        margin-bottom: 9px;
        margin-left: 15px;
    }

    img#xone{
        width: 220px;
        height: 50px;
        margin-bottom: 10px;
        margin-left: 30px;
    }


    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
        cursor: pointer;
    }

    div#bot{
        width: 100%;
        height: 200px;
        color: white;
    }

    div#bot img{
        width: 200px;
        height: 180px;
    }

    div#bot h3, span{
        float:right;
    }

    div#bot h3{
        margin-right: 200px;
        font-size: 28px;
        margin-top: 65px;
                
    }

    div#bot span{
        margin-right: 193px;
        margin-top: -85px;
        font-size: 18px;
    }


    div#oq, div#comandos{
        margin-top: 20px;
        width: 100%;
        height: 440px;
    }

    div#oq h3 , div#comandos h3{
        text-align: center;
    }

    div#oq, #comandos p{
        margin: auto;
        width: 90%;
        text-align: justify;
        text-indent: 10px;
    }

    footer{
        margin-top: 30px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.9em;
        text-align: center;
        color:white;
    }
}