@media (min-width:319px) and (max-width:600px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    ul{
        list-style: none;
    }

    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }

    ul#menu2 li a {
        text-decoration: none;
        color: white;
    }
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    img#incur{
       
        width: 80px;
        height: 70px;
    }

    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
        cursor: pointer;
    }

    div#bot{
        width: 100%;
        height: 200px;
        color: white;
        margin-top: 10px;
    }

    div#bot img{
        width: 150px;
        height: 140px;
    }

    div#bot2{
        width: 300px;
        height: 140px;
        margin: auto;
    }

    div#botinfo{
        width: 140px;
        float: right;  
        margin-top: 50px;      
    }

    div#botinfo h3{
        float: right;
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 18px;
    }

    div#botinfo span{
        float: right;
        font-size: 15px;
    }

    div#oq, div#comandos{
        width: 90%;     
        border-radius: 5px;
        height: 340px;
        margin: auto auto 40px auto;
        border: 5px solid rgba(255, 255, 255, 0.342);
        background-color: rgba(245, 230, 230, 0.151);

    }

    div#oq h3 , div#comandos h3{
   
        margin-top: 0px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.342);
        padding: 5px 0px;
    }

    div#oq p , div#comandos p{
        
        margin: 5px auto;
        width: 300px;
        text-align: justify;
        text-indent: 10px;
    }

    footer{
        margin-top: 20px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.8em;
        text-align: center;
        color:white;
    }
        
    div#centerheader{
        width: 230px;
        margin: auto;
    }

    div#centerheader h2{
        float:right;
        font-size: 18px;
        margin-top: 25px;
    }


    div#flogos{
        width: 150px;
        margin: auto;
    }

    img.logos{
        width: 15px;
        height: 15px;
        margin-left: 15px;
    }

    img#facebook{
        width: 20px;
    }
}

@media (min-width:601px) and (max-width:990px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    ul{
        list-style: none;
    }

    nav ul#menu1 li#imagem img{
        width: 50px;
        height: 50px;
        margin-top: -5px;
        position: absolute;
        margin-left: -23px;
    }

    div#page{
        width: 100%;
        margin: 0px auto;
        border-radius: 2px;
    
    }

    header{
        width: 100%;
        height: 70px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
    }

    ul#menu2{
        position: absolute;
        display: none;
        width: 122px;
        height: 162px;
        margin-top: 55px;
        margin-left: -40px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(99, 92, 89);
        padding-top: 1.5px;        
        transition:  .05s;
    }

    ul#menu2 li{
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        color: white;
        border: 1px solid rgba(10, 1, 1, 0.411);
        margin-left: -40px;
        background-color: rgb(99, 92, 89);
        
    }

    ul#menu2 li a {
        text-decoration: none;
        color: white;
    }
    li#m{
        margin-top: -2px;
    }

    li#m1{
        margin-top: 38px;
    }
    
    li#m2{
        margin-top: 78px;
    }

    li#m3{
        margin-top: 118px;
    }

    li#m4{
        margin-top: 158px;
    }

    img#incur{
        
        width: 80px;
        height: 70px;
    }

    nav{
        position: absolute;
        width: 80px;
        height: 70px;
        margin-top: -70px;
        margin-left: auto;
        cursor: pointer;
    }

    div#bot{
        width: 100%;
        height: 200px;
        color: white;
    }

    div#bot img{
        width: 200px;
        height: 180px;
    }

    div#bot2{
        width: 500px;
        height: 180px;
        margin: auto;
    }

    div#botinfo{
        width: 200px;
        float: right;  
        margin-top: -130px;   
        margin-right: 20px;
        
    }

    div#botinfo h3{
        float: left;
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 25px;
    }
 
    div#botinfo span{
        float: left;
        font-size: 20px;
    }
 
    div#oq, div#comandos{
        margin: 20px auto 70px auto;
        width: 90%;
        height: 440px;
        border: 8px solid rgba(255, 255, 255, 0.342);
        border-radius: 7px;

    }

    div#oq h3 , div#comandos h3{
        text-align: center;
        background-color:rgba(255, 255, 255, 0.342);
        margin-top: 0px;
        padding: 15px 0px;
        
    }

    div.paragrafo{
        padding: 0px 5px;
    }

    div#oq p, div#comandos p{
        margin: auto;
        width: 570px;
        text-align: justify;
        text-indent: 10px;
       
    }

    footer{
        margin-top: 30px;
        background-color: rgba(226, 212, 212, 0.253);
        border-radius: 5px;
        padding: 2px;
    }

    footer h3{
        font-size: 14px;
        font-size: 0.9em;
        text-align: center;
        color:white;
    }

        
    div#centerheader{
        width: 330px;
        margin: auto;
    }

    div#centerheader h2{
        float:right;
        font-size: 26px;
        margin-top: 20px;
    }


    div#flogos{
        width: 190px;
        margin: auto;
    }

    img.logos{
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    img#facebook{
        width: 25px;
    }
}

@media (min-width:1200px){
    body{
        background-image: url(../imagens/fundo3.jpg);
        background-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 1px black;
        color: white;
    }

    header{
        background-color: rgba(252, 247, 247, 0.205);
        width: 100%;
        height: 70px;
        margin:auto;
        padding: 0px 0px 10px 0px;
    }

    div#page{
        width: 85%;
        background-color:rgba(128, 128, 128, 0.151) ;
        margin: auto;
        border: 10px solid rgba(252, 247, 247, 0.205);
        border-radius: 5px;
    }

    img#incur{
        width: 100px;
        height: 90px;
        margin: -9px;
    }

    
    ul{
        list-style: none;
        width: 600px;
        margin: auto;
    }

    nav{
        background-color: rgba(46, 195, 221, 0.205);
        width: 100%;
        margin: 0px auto;
        font-size: 16px;
        padding: 8px 0px;
    }

    nav img{
        display: none;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 0px 10px;
        text-shadow: 1px 1px 1px black;
    }
    

    nav ul li{
        display: inline;
       
    }

    nav ul li a:hover{
        text-shadow: none;
    }

    h2{
        color: white;
        text-align: center;
        font-size: 36px;
    }

    div#bot{
        margin-top: 30px;
        margin-bottom: 130px;
    }

    div#bot img{
        width: 280px;
        height: 250px;
    }

    div#bot2{
        margin:auto;
        width:700px;
        height: 250px;
    }

    div#botinfo{
        width: 300px;
        height:250px;
        float: right;
    } 

    div#botinfo h3{
        margin-top: 70px;
        font-size: 30px;
        margin-bottom: 5px;
    }

    div#botinfo span{
        font-size: 25px;
    }

    div#oq, div#comandos{
        border: 5px solid gray;
        width: 90%;
        margin: 20px auto 60px auto;
        border-radius: 5px;
    } 

    div#oq h3, div#comandos h3{
        background-color: gray;
        margin-top:0px;
        font-size: 28px;
        text-align: center;
        padding:5px 0px;

    }


    div.paragrafo{
        width: 900px;
        padding: 5px;
        text-justify:justify;
        text-indent: 20px;
        margin:auto;
    }

    footer{
        width: 85%;
        margin: 20px auto;
        background-color: rgba(252, 247, 247, 0.205);
        padding: 1px 0px;
        border-radius: 8px;
        border: 10px solid rgba(214, 205, 205, 0.226);
    }

    footer h3{
        text-align: center;
        color: white;
    }

        
    div#centerheader{
        background-color: rgb(224, 61, 61);
        width: 470px;
        margin: auto;
    }

    div#centerheader h2{
        float:right;
        font-size: 30px;
        margin-top: 20px;
    }


    div#flogos{
        width: 190px;
        margin: auto;
    }

    img.logos{
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }

    img#facebook{
        width: 30px;
    }
}